<config>
<server>
	<port>5001</port>
	<pidfile_dir>/var/run</pidfile_dir>
	<transaction name="echotest">
		<username>nobody</username>
		<allow>kiel,www,nobody</allow>
	</transaction>
	<transaction name="restart">
		<username>root</username>
		<allow>kiel,www,nobody</allow>
	</transaction>
	<access>
		<client>
			<username>kiel</username>
			<password>opennow</password>
			<host>10.0.0.1,127.0.0.1</host>
			<desc>Testing Client Connection</desc>
		</client>
		<client>
			<username>nobody</username>
			<password>opennow</password>
			<host>10.0.0.1,127.0.0.1</host>
			<desc>Webservice Client Connection</desc>
		</client>
	</access>
</server>
<webUI>
	<enable>YES</enable>
	<port>3000</port>
	<username>nobody</username>
</webUI>
</config>
